Build
DerivedData
.DS_Store
.vs
x64
windows/sdl-vc/*
!windows/sdl-vc/.placeholder
switch/*
!switch/Makefile
3ds/*
!3ds/Makefile
SDLGame
build
*.o
nxdk
*.exe
*.obj
*.xbe
*.iso
*.d
*.elf
*.dol
*.rpx

web/res

android/app/jni/SDL/*
!android/app/jni/SDL/put_SDL_include_src_Android.mk_here.md
android/app/build
android/wrapper
android/native
android/jdks
android/gradle
android/.gradle
android/.idea

linux/res
linux/game

xbox/bin
xbox/main.lib